.idea/
.DS_Store

runtime/*
!runtime/qrcode/bg.jpg
!runtime/fonts
/app.log
/vendor/
/vendor/*
/cland-chat-service.debug.exe
.vscode
cland-chat-service.exe
docs/ws/node_modules
__debug_bin.exe
__debug_bin.exe3679950488
